body{
	font-family: 'Georgia', 'Arial', sans-serif;
    color: #444;
    background-color: #EEE;
    margin: 1em auto;
    max-width: 48em;
    line-height: 1.6em;
    font-size: 18px;
    padding: 0;
}
